@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
.home-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(20px + 1vw);
    color: white;
    background-color:black;
    position: absolute;
    top: 0;
}
.home-heading{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    justify-content: center;
    position: relative;
    z-index: 30;
}
.home-heading h1{
    font-size: 5em;
    font-weight: 300;
    font-family: 'Arapey', serif !important;
}
.home-heading p {
    padding-left: 10px;
    font-size: .9em;
    font-weight: 300;
    color: rgb(126, 126, 126);
    padding-top: 20px;
    font-family: 'Arapey', serif !important;
}
.home-heading span{
    margin-top: 30px;
    width:60%;
    height: .3px;
    background-color: rgb(126, 126, 126);
    display: block;
}
.home-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    overflow: hidden;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}