@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
.home-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(20px + 1vw);
    color: rgb(29, 29, 29);
    background-color:rgb(219, 219, 219);
    position: absolute;
    top: 0;
    z-index: 100;
}
.home-heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    justify-content: center;
    position: relative;
    z-index: 30;
}
.home-heading h1{
    font-size: .8em;
    font-weight: 300;
    font-family: 'Arapey', serif !important;
}
.home-heading p {
    padding-left: 10px;
    font-size: .9em;
    font-weight: 300;
    color: rgb(126, 126, 126);
    padding-top: 20px;
    font-family: 'Arapey', serif !important;
    
}
.home-heading span{
    height: fit-content;
    overflow: hidden;

}
.home-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    overflow: hidden;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}