@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
.home-section-main{
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.holder-container{
    display: flex;
    flex-direction: column;
}
.holder{
    overflow: hidden;
    display: flex;
    height: 2in;
}
.holder p{
    top: 2in;
    position: relative;
    font-size: calc(15px + 7vw);
    font-family: 'Cinzel Decorative' !important;
    margin: 10px;
    
}