@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Bellota:wght@300;400;700&family=Black+Ops+One&family=Blaka&family=Cinzel+Decorative:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Elsie:wght@400;900&family=Forum&family=Libre+Barcode+39+Text&family=Lobster&family=Lobster+Two:wght@400;700&family=Londrina+Outline&family=Megrim&family=Monofett&family=Monoton&family=Patua+One&family=Poiret+One&family=Press+Start+2P&family=Rammetto+One&family=Reggae+One&family=Righteous&family=Rubik+Glitch&family=Special+Elite&family=Uncial+Antiqua&family=Yeseva+One&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
.home-section-main{
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.holder-container{
    display: flex;
    flex-direction: column;
}
.holder{
    overflow: hidden;
    display: flex;
    height: 2in;
}
.holder p{
    top: 2in;
    position: relative;
    font-size: calc(15px + 7vw);
font-family: 'Cinzel Decorative', cursive !important;
    margin: 10px;
    
}