.contact{
    width: 100%;
    max-height: 9.5in;
    height: 9.5in;
    background-color: #1c1d20;
    color: white;
    font-size: calc(5px + .6vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-first{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 3in;
    height: 80%;
    align-items: flex-start;
    justify-content: center;
}
.contact-second{}
.first-one{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    
}
.first-one-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60%;
}
.first-one-leftHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}
.first-one-left h1{
    font-size: 6.5em;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    width: 90%;
}
.first-one-left img{
    border-radius: 50%;
    width: calc(40px + 3vw);
    height:calc(40px + 3vw);
    object-fit: cover;
    margin-right: 30px;
}
.first-one-right span{
    transform: rotate(45deg);
font-size: 2em;
position: relative;
display: block;
}
.first-two{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 33%;
    width: 100%;
    
}
.first-two .line2{
width: 100%;
height: .3px;
background-color: rgb(83, 83, 83);
display: block;
}
.first-two .container{
    position: absolute;
    top: 15%;
    margin: 0;
    left: 40vw;
}
.first-three{
    width: 100%;
   height: 10%;
}
.three-buttons{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.three-buttons button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right:1rem ;
    margin: 10px;
}
.contact-second{
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.contact-sec-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.vlt{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    max-width: 4in;
    min-width: 3.5in;
}
.version, .local-time{
    display: flex;
    flex-direction: column;
}
.version{
}
.local-time{}
.socials{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    max-width: 4in;
    min-width: 3.5in;

}
/* Ball */

.container{
    margin-top: 5rem;
    border-radius: 50%;
    min-width: calc(1.2in + 3vw);
    min-height: calc(1.2in + 3vw);  
    width: 1.8in;
    height: 1.8in;
    background-color: #455ce9;
    color: white;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container h5{
    font-size: 1.2rem;
    font-weight: 500;
}
/* Buttons Ball */
.containerButton {
    border-radius: 50px;
    width: 3in;
    height: 1in;
    background-color: #1c1d20;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(138, 138, 138);
}

.containerButton h5 {
    font-size: 1.3em;
    font-weight: 300;
    min-width: fit-content;
    position: relative;
    z-index: 200;
    left: 100%;
    top: 0;
}

.containerButton span {
    position: relative;
    min-width: 6in;
    height: 3in;
    border-radius: 50%;
    left: -3px;
    z-index: 100;
    background: rgb(0, 132, 255);
    transform: translateY(100%);
}
@media only screen and (max-width: 800px) {

    .contact-first{
      justify-content: center;
    }
}
@media only screen and (max-width: 857px) {

.contact-sec-container{
    justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
.first-two .line2 {
   display: none;
}
    .contact-first{
        align-items: center;
        justify-content: center;
    }
    .first-one-left img{
      width: 50px;
      height: 50px;
    }
    .first-one-left h1{
        font-size: 6em;
        font-weight: 400;
    }
    .first-two{
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 25%;
    }
    .first-two .container{
        position: absolute;
        top: 0%;
        margin: 0;
        left: 25%;
    }
    .first-three{
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
    }
    .three-buttons{
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .three-buttons button{
    }
    .contact-sec-container{
        justify-content: center;
        }
    
}