

.contact-main{
    width: 100%;
    /* min-height: fit-content; */
    background-color: #1c1d20;
    font-size: 2vw;
    height: 20in;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-main-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contact-heading{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-heading-content{

}
.contact-heading-content h1{
    font-size: 3.1em;
    color: white;
    font-weight: 400;
}
.contact-heading-image {
    width: 150px;
    height: 150px;
}
.contact-heading-image  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
   object-fit: cover;
}
.contact-details{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 80%;
    align-items: flex-end;
    justify-content: space-around;
}
.contact-form{
    width: 60%;
    min-width: 4in;
    height: 100%;
    min-width: 300px;
}
.contact-form form{
    width: 100%;
}
.contact-form form {}
.form-part{
    width: 100%;
}
.form-part-1,.form-part-2,.form-part-3,.form-part-4,.form-part-5{
    display: flex;
    padding-top: 3rem;
}
.form-part-1 p,
.form-part-2 p,
.form-part-3 p,
.form-part-4 p,
.form-part-5 p {
    font-weight: 400;
    font-size: .5em;
    color: #8d8d8d;
    margin-top: 7px;
    margin-right: 10px;
}
.form-part-1 label,
.form-part-2 label,
.form-part-3 label,
.form-part-4 label,
.form-part-5 label {
    font-weight: 400;
    font-size: calc(.5em + 10px);
    margin-left: 20px;
    color: rgb(233, 233, 233);
}
.form-part input{
    background-color: transparent;
    outline: none;
    border: none;
    line-height: 1.5rem;
    color: white;
    font-size: calc(.5em + 10px);
        margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 40px;
}
.form-button {
    width: 100%;
    height: 20%;
    position: relative;
}
.form-button-line{
    width: 100%;
    display: block;
    background-color: #838485;
    height: .3px;
    position: relative;
    top: 9vh;
}
.form-button button{
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    left: 70%;
}
.form-part span{
    display: block;
    width: 100%;
    height: .3px;
    background-color: #353535;
}
.form-part textarea {
    background-color: transparent;
    outline: none;
    border: none;
    line-height: 1.5rem;
    color: white;
    font-size: .8em;
    overflow: scroll;
    height: 10rem;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 40px;
}
.form-part textarea::-webkit-scrollbar {
    display: none;
}
.form-part textarea {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.contact-details-socials {
        font-size: calc(.5em + 5px);
    font-weight: 300;
    width: 30%;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height:40%;
    padding-left: 5rem;
}
.contact-details-holder{
    margin-bottom: 40px;
}
.contact-details-holder p{
    padding-bottom: 15px;
    color: #838485;
    font-size:12px;
    font-weight:400;
}
.contact-details-holder h3{
    padding-bottom: 15px;
    font-size: 1em;
    font-weight:400;
}

.bussiness-details {
    margin-bottom: 40px;
}
.bussiness-details p {
    padding-bottom: 15px;
    color: #838485;
    font-size:12px;
    font-weight:400;
}
.bussiness-details h3 {
    padding-bottom: 15px;
    font-size: 1em;    font-weight:400;
}

.socials-holder {
    margin-bottom: 40px;
}
.socials-holder p {
    padding-bottom: 15px;
    color: #838485;
    font-size:12px;
    font-weight:400;
}
.socials-holder h3 {
    padding-bottom: 15px;
    font-size: 1em;    font-weight:400;
}
/* Ball */

.container {
    border-radius: 50%;
    min-width: calc(1.2in + 3vw);
    min-height: calc(1.2in + 3vw);
    width: 1.8in;
    height: 1.8in;
    background-color: #455ce9;
    color: white;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container h5 {
    font-size: 1.2rem;
    font-weight: 500;
}
@media only screen and (max-width: 600px) {
  
    .form-button{
        height: 10%;
    }
    .form-button button{
    left: 30%;
    top: -10vh;
    }
        .form-button span {
           display: none; 
        }
    .contact-heading{
        width: 100%;
        height: 20%;
        flex-direction: column;
        margin-top: 50px;
    }
         .contact-heading h1{
             font-size: 4em;
         }
    .contact-details{
        height: 40%;
    }
    .contact-form{
        width: 100%;
        height: 40%;
    }
        .contact-details-socials {
            width: 100%;
            height: 50%;
            text-align: center;
            align-items: center;
            padding: 0;
   
        }
}