.navbar{
    color:rgb(27, 27, 27);
    position:absolute;
    z-index: 500;
    display: flex;
    width: 100vw;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    list-style: none;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-around;
    font-size:1rem;
}
.logo{
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;

}
.navbar ul li{
   cursor: pointer;
}
.container{
    border-radius: 50%;
}
.second-nav{
    display: none;
}
.first-nav{
    display: flex;
}
@media only screen and (max-width: 884px) {

    .first-nav{
        display: none !important;
    }
    .second-nav{
        display: flex;
        height: fit-content;
        position: absolute;
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
    .second-menu-container{
        width: 100vh;
        height: 100vh;
        min-height: 7.5in;
        position: absolute;
        display: flex;
        /* left: 60vw; */
        background-color: black;
        color: white;
        top: 0;
        z-index: 3000;
        transform: translateX(100vw);
        align-items: center;
    }
    .second-menu-container ul{
        display: flex;
        flex-direction: column;
        height: 60%;
        font-size: 3rem;
        margin: 0;
        width: 40%;
    }
    .menu-btn span{
        width: 30px;
        height: .3px;
        background: white;
        display: block;
        position: relative;
        z-index: 5000;
        top: 40px;
        left: 89vw;
        margin-bottom: 10px;
    }
    .rounded-div-wrapper{
        /* overflow: hidden;
        position: relative;
        left: -5%;
        width: 100px;
        height: 100%;
        display: block; */
        /* Dj */
    pointer-events: all;
    box-sizing: border-box;
    width: 1000px !important;
    top: -15px;
    position: relative;
    /* overflow-x: hidden; */
    transform: translateY(-1px);
    will-change: height;
    height: 43px;
    transform: rotate(90deg);
    left: -400.5px;
    }
    .rounded-div{
        /* width: 10in;
        margin: 0;
        height: 100%;
        border-radius: 50%;
        background-color: rgb(255, 0, 0); */
        pointer-events: all;
        box-sizing: border-box;
        width: 200%;
        content: "";
        display: block;
        position: absolute;
        background: rgb(0, 0, 0);
        height: 750%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -86.666%);
        z-index: 1;
         }

  }