.navbar {
  width: 100vw;
  height: 90px;
  position: absolute;
  color: white;
  z-index: 50;
}
.first-nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 500;
  position: relative;
}
.list-container {
  width: 18%;
}
.first-nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
/* .first-nav ul li{
  color: blue;
} */
.first-nav .logo {
  width: 20%;
  padding-left: 50px;
}

.menu-btn {
  transform: scale(0);
  position: fixed;
  z-index: 8000;
  right: calc(25px + 2vw);
  top: 50px;
  border-radius: 50%;
  transform-origin: center;
}
.container {
  border: .3px solid rgb(77, 77, 77);
  border-radius: 50%;
  min-width: calc(.7in + 2.5vw);
  min-height: calc(.7in + 2.5vw);
  width: calc(.7in + 2.5vw);
  height: calc(.7in + 2.5vw);
  background-color: #1c1d20;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.container span {
  position: relative;
  min-width: 2in;
  min-height: 2in;
  border-radius: 50%;
  left: -3px;
  z-index: 100;
  background: rgb(0, 132, 255);
  transform: translateY(100%);
}

.containerLink {
  border-radius: 50%;
  min-width: 0.5in;
  min-height: 0.5in;
  width: 0.5in;
  height: 0.5in;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 300;
  font-size: 20px;
}
.containerLink h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.containerLink span {
  background-color: rgb(122, 122, 122);
  min-width: 26px !important;
  height: 5px;
  display: block;
  border-radius: 20px;
  position: relative;
  left: -75%;
  top: 40%;
  opacity: 0;
}
.container h5 {
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  z-index: 200;
  left: 77%;
  top: 11%;
  transform: translate(-50%, -50%);
}
.container .menuLineWrapper {
  width: 30px !important;
  position: absolute;
  left: 33%;
  top: 45%;
  display: flex;
  flex-direction: column;
  height: 20px;
  z-index: 300;
}
.container .menuLine {
  width: 30px !important;
  position: relative;
  left: 0%;
  top: 0%;
  display: flex;
  height: 1px;
  margin: 3px;
  background: rgb(255, 255, 255);
  z-index: 300;
}
.container .menuLine:first-of-type {
  margin-top: 10%;
}
/* Big Nav containerLinkBig */
.containerLinkBig{
  border-radius: 50%;
  min-width: 1in;
  min-height: 1in;
  background-color: transparent;
  color: white;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 300;
  font-size: calc(1em + 15px);
}
.containerLinkBig h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.containerLinkBig span {
  background-color: transparent;
  min-width: 26px !important;
  height: 5px;
  display: block;
  border-radius: 20px;
  opacity: 0;
  margin-left: 50px;
  margin-bottom: 80px;
  
}
.containerLinkBig:hover ~ .containerLinkBig span{
opacity: 1;
}
/* Copied Styles from 1200 */
.second-nav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}
.list-container-two {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1d20;
  height: 100%;
  left: calc(100vw + 140px);
  box-shadow: 2px 2px 500px black;
}
.fixed-nav-rounded-div {
  cursor: auto;
  box-sizing: border-box;
  position: absolute;
  left: 1px;
  transform: translateX(-100%);
  height: 100%;
  top: 0;
}
.rounded-div-wrapper {
  cursor: auto;
  --vh: 9.37px;
  font-family: "Dennis Sans", sans-serif;
  color: var(--color-text);
  line-height: 1.6;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(16px, 1.2vw, 19px);
  box-sizing: border-box;
  top: 0;
  position: relative;
  overflow: hidden;
  width: 6vw;
  height: 100%;
  will-change: width;
}
.rounded-div {
  box-sizing: border-box;
  left: 50%;
  z-index: 1;
  background: #1c1d20;
  height: 150%;
  content: "";
  display: block;
  position: absolute;
  width: 775%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-6.5%, -50%);
}
.second-nav .logo {
  width: 20%;
  min-width: 150px;
}
.second-main-holder {
  width: 80%;
  height: 100%;
  padding-left: 6vw;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.navigation-heading {
  height: 25%;
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.navigation-heading p {
  font-size: 0.8em;
  color: #848586;
}
.navigation-heading span {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #848586;
  margin-top: 30px;
  margin-bottom: 30px;
}
.second-nav ul {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  color: white;
}
.second-nav ul li {
  font-size: calc(2rem + 2vw);
  padding-top: 20px;
}
.nav-socials {
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nav-socials p {
  font-size: 0.8em;
  color: #848586;
  padding-bottom: 20px;
}
.nav-socials ol {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  color: white;
}
.nav-socials ol li{
padding-right: 20px;
}
@media only screen and (max-width: 1200px) {
  .menu-btn {
    transform: scale(1);
  }
  .first-nav {
    display: none;
  }
  .second-nav {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    overflow: hidden;
  }
  .list-container-two {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1c1d20;
    height: 100%;
    left: calc(100vw + 140px);
  }
  .fixed-nav-rounded-div {
    cursor: auto;
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    transform: translateX(-100%);
    height: 100%;
    top: 0;
  }
  .rounded-div-wrapper {
    cursor: auto;
    --vh: 9.37px;
    font-family: "Dennis Sans", sans-serif;
    color: var(--color-text);
    line-height: 1.6;
    font-weight: 450;
    font-style: normal;
    font-size: clamp(16px, 1.2vw, 19px);
    box-sizing: border-box;
    top: 0;
    position: relative;
    overflow: hidden;
    width: 6vw;
    height: 100%;
    will-change: width;
  }
  .rounded-div {
    box-sizing: border-box;
    left: 50%;
    z-index: 1;
    background: #1c1d20;
    height: 150%;
    content: "";
    display: block;
    position: absolute;
    width: 775%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-6.5%, -50%);
  }
  .second-nav .logo {
    width: 20%;
    min-width: 150px;
  }
  .second-nav ul {
    width: 60%;
    height: 50%;
    font-size: 3rem;
    list-style: none;
    color: white;
  }
}
@media only screen and (max-width: 687px) {
}
