.navbar{
    width: 100vw;
    height: 90px;
    position: absolute;
    color: white;
}
.first-nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.list-container{
    width: 40%;
}
.first-nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.first-nav .logo{
    width: 20%;
}
.second-nav{
    display: none;
}
.menu-btn{
    position: fixed;
    z-index: 8000;
    right: 50px;
    top: 50px;
    border-radius: 50%;
    transform-origin: center;
}
.container{
    border-radius: 50%;
    min-width: 1in;
    min-height: 1in;
    width: 1in;
    height: 1in;
    background-color: #1c1d20;
    color: white;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container h5{
    font-size: 1.2rem;
    font-weight: 500;
}
@media only screen and (max-width: 1200px) {
    .first-nav{
        display: none;
    }
    .second-nav{
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
    }
    .list-container{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        height: 100%;
        left: calc(100vw + 140px);
    }
    .fixed-nav-rounded-div{
        cursor: auto;
        box-sizing: border-box;
        position: absolute;
        left: 1px;
        transform: translateX(-100%);
        height: 100%;
        top: 0;
    }
    .rounded-div-wrapper{
      
        cursor: auto;
        --vh: 9.37px;
        font-family: 'Dennis Sans', sans-serif;
        color: var(--color-text);
        line-height: 1.6;
        font-weight: 450;
        font-style: normal;
        font-size: clamp(16px, 1.2vw, 19px);
        box-sizing: border-box;
        top: 0;
        position: relative;
        overflow: hidden;
        width: 6vw;
        height: 100%;
        will-change: width;
    }
    .rounded-div{
      
        box-sizing: border-box;
        left: 50%;
        z-index: 1;
        background: black;
        height: 150%;
        content: "";
        display: block;
        position: absolute;
        width: 775%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-6.5%, -50%);
    }
    .second-nav .logo{
        width: 20%;
        min-width: 150px;
    }
    .second-nav ul{
        width: 60%;
        height: 100%;   
        font-size: 3rem;
        list-style: none;
        color: white;
       
    }
    
  }
  @media only screen and (max-width: 687px) {
 
  }